<%- contentFor( 'body') %>

<div>
    <p>Angelo Lucas Freitas Lima <span class="copyleft">&copy;</span>, <span class="font-italic">all rights reserved</span></p>
    <p>Universidade Federal do Ceará</p>
    <p>O código desta aplicação está sob licença  <a href="https://github.com/angelolucasfl/first-app/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">Gnu Public License version 3.0</a></p>
    <p>Ocódigo desta aplicação encontra-se no endereço <a href="https://github.com/Angelolucasfl/first-app" target="_blank" rel="noopener noreferrer">https://github.com/Angelolucasfl/first-app</a></p>
</div>